.singleService img {
    width: 100%;
  }
.singleService{
    padding: 20px;
}

.singleService h5 {
  margin-top: 10px;
  font-size: 20px;
}
.singleService h4 {
  margin-top: 13px; 
}

.singleService:hover {
  transform: scale(1);
}
.singleService {
  padding: 25px;
  transform: scale(0.90);
  transition: 0.3s;
}

.singleService img {
  height: 200px;
}


@media only screen and (max-width: 576px) {
  .singleService h5 {
      font-size: 20px;
  }
}